<input type="text"
       name="board[title]"
       id='board-title'
       placeholder='Title'
       value="">
<br><br>
<button id='submit-button'>Submit</button>
<button id='cancel-button'>Cancel</button>
