<input type="hidden" name="card[list_id]" value="<%= list.escape('id')%>">
<input type="text" name="card[title]" class='card-title' placeholder="Title">
<br>
<textarea name="card[description]" rows="4" placeholder="Notes"></textarea>
<br>
<button class="add-card">Save</button>
<a href="javascript:void(0)" id="cancel-card">X</a>
